services:
  # PSQL
  postgres:
    image: postgres:17-alpine
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_PORT=${POSTGRES_PORT}
    command: > 
      -c 'max_connections=600'
      && -c 'shared_buffers=120MB'
      && -c 'tcp_keepalives_idle = 30'
      && -c 'tcp_keepalives_interval = 10'
      && -c 'tcp_keepalives_count = 5'
    ports:
      - "${POSTGRES_PORT}:5432"
    networks:
      - backend-net
    volumes:
      - ./services/db/data/:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "sh -c 'pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}'"]
      interval: 5s
      timeout: 10s
      retries: 5
      start_period: 10s
    deploy:
      resources:
        limits:
          cpus: "8.0"
          memory: 6G
        reservations:
          cpus: "4.0"
          memory: 1G

  # REDIS
  redis:
    image: redis:alpine
    environment:
      - REDIS_PASSWORD=${DB_PASSWORD}
      - REDIS_USER_PASSWORD=${DB_PASSWORD}
      - REDIS_DATABASE=0
    command: >
      sh -c '
        mkdir -p /usr/local/etc/redis &&
        echo "bind 0.0.0.0" > /usr/local/etc/redis/redis.conf &&
        echo "requirepass $DB_PASSWORD" >> /usr/local/etc/redis/redis.conf &&
        echo "appendonly yes" >> /usr/local/etc/redis/redis.conf &&
        echo "appendfsync everysec" >> /usr/local/etc/redis/redis.conf &&
        echo "user default on nopass ~* +@all" > /usr/local/etc/redis/users.acl &&
        echo "user $REDIS_USER on >$DB_PASSWORD ~* +@all" >> /usr/local/etc/redis/users.acl &&
        redis-server /usr/local/etc/redis/redis.conf --aclfile /usr/local/etc/redis/users.acl
      '
    ports:
      - "6379:6379" 
    networks:
      - backend-net
    depends_on:
      postgres:
        condition: service_healthy
  
  # MIGRATIONS
  migrate:
      image: migrate/migrate
      networks:
          - backend-net
      volumes:
          - ./services/db/migration/:/migrations
      command: ["-path", "/migrations", "-database", "postgresql://${POSTGRES_USER}:${DB_PASSWORD:-invalid}@postgres:${POSTGRES_PORT}/${POSTGRES_DB}?sslmode=disable", "up"]
      links:
        - postgres
      depends_on:
        postgres:
          condition: service_healthy

  # KAFKA
  kafka:
    image: apache/kafka-native
    ports:
      - "9092:9092"
    environment:
      # Listeners
      KAFKA_LISTENERS: controller://localhost:9091, HOST://0.0.0.0:9092,DOCKER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: HOST://localhost:9092,DOCKER://kafka:9093
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,DOCKER:PLAINTEXT,HOST:PLAINTEXT

      # KRfat
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@localhost:9091

      # Listeners for broker-broker communication
      KAFKA_INTER_BROKER_LISTENER_NAME: DOCKER

      # for single-node cluster
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - backend-net
  
  # OTEL-COLLECTOR
  otel-collector:
    image: otel/opentelemetry-collector-contrib:latest
    container_name: otel-collector
    command: ["--config=/etc/otel-collector-config.yaml"]
    volumes:
      - ./services/monitoring/otel-collector-config.yaml:/etc/otel-collector-config.yaml
    ports:
      - "4318:4318"
      - "9123:9123"
    networks:
      - backend-net
    depends_on:
      - jaeger
      - prometheus

  # JAEGER
  jaeger:
    image: jaegertracing/all-in-one:latest
    ports:
      - "16686:16686"   # UI
      - "4317:4317"     # listen gRPC
    environment:
      - COLLECTOR_OTLP_ENABLED=true
    networks:
      - backend-net

  # PROMETHEUS
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    command: >
      --config.file=/etc/prometheus/prometheus.yml
      && --web.enable-remote-write-receiver
      && --web.enable-otlp-receiver
    volumes:
      - ./services/monitoring/prometheus/:/etc/prometheus
    ports:
      - "9090:9090"
    networks:
      - backend-net
    
  # GRAFANA
  grafana:
    image: grafana/grafana
    container_name: grafana
    volumes:
      - ./services/monitoring/grafana/dashboards:/var/lib/grafana/dashboards
      - ./services/monitoring/grafana/provisioning:/etc/grafana/provisioning/
    ports:
      - 3000:3000
    links:
      - prometheus:prometheus
    user: ":"
    networks:
      - backend-net
    
  # NODE-EXPORTER
  node-exporter:
    image: prom/node-exporter
    container_name: exporter
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - --path.procfs=/host/proc
      - --path.sysfs=/host/sys
      - --collector.filesystem.ignored-mount-points
      - ^/(sys|proc|dev|host|etc|rootfs/var/lib/docker/containers|rootfs/var/lib/docker/overlay2|rootfs/run/docker/netns|rootfs/var/lib/docker/aufs)($$|/)
    ports:
      - 9100:9100
    networks:
      - backend-net
    restart: always
    deploy:
      mode: global

  # API-GATEWAY
  # api-gateway:
  #   build:
  #     context: .
  #     args:
  #       SERVICE_NAME: api-gateway
  #       PORT: 80
  #   ports:
  #     - "80:80"
  #   networks:
  #     - backend-net
  
  # # USER
  # user-microservice:
  #   build:
  #     context: .
  #     args:
  #       SERVICE_NAME: user
  #       PORT: 8081
  #   ports:
  #     - "8081:8081"
  #   networks:
  #     - backend-net
  #   depends_on:
  #     - postgres

  # # TOKEN
  # token-microservice:
  #   build:
  #     context: .
  #     args:
  #       SERVICE_NAME: token
  #       PORT: 8083
  #   ports:
  #     - "8083:8083"
  #   networks:
  #     - backend-net
  #   depends_on:
  #     - redis
  
  
networks:
  backend-net:
    driver: bridge
