button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    transition: background-color 0.3s ease, color 0.3s ease;

    color: white;
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 400;
}

.primary-btn {
    background-color: var(--color-accent);
    border-radius: 10px;
    text-align: center;
    align-items: center;
    padding: 1px 7px;
}

.secondary-btn {
    border: 1px solid var(--color-text-muted);
    border-radius: 10px;
    text-align: center;
    align-items: center;
    color: white;
    padding: 1px 7px;
}

.muted-btn {
    border: 1px solid var(--color-text-muted);
    border-radius: 10px;
    text-align: center;
    align-items: center;
    color: var(--color-text-muted);
    padding: 1px 7px;
}